<article class="card" style="width: 18rem;">
  <div class="card-header">
    <h2 class="card-title"><%= programming_language.title %></h2>
  </div>
  <div class="card-body">
    <span class="card-text">
      <%= programming_language.description %>
    </span>
  </div>
  <div class="card-body">
    <a class="card-link small" href="<%= programming_language.documentation_link %>">
      <%= programming_language.title %> Documentation →
    </a>
  </div>
</article>