<article class="card language-card" style="width: 300px">
  <%= link_to programming_language_path(programming_language) do %>
  <div class="card-header">
    <h2 class="card-title"><%= programming_language.title %></h2>
    <%= fa_icon('arrow-right') %>
  </div>
  <% end %>
</article>
