// Place all the styles related to the programming_languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.programming-languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.language-card {
  a {
    text-decoration: none;
    color: black;
  }
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .card-title {
    text-decoration: none;
  }
}